<div class = "container text-center">
  <div class = "row justify-content-center align-items-center">
    <div class = "col-md-6 mb-3">
      <h1>Contact</h1>
      <p class = "lead">Description of contact form and purpose</p>
    </div>
  </div>
  <div class = "row justify-content-center align-items-center">
    <div class = "col-md-6">
      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
      <script>
        hbspt.forms.create({
   	      portalId: "6675061",
   	      formId: "d82cede9-13de-409a-b622-1c2b704900ca"
        });
      </script>
    </div>
  </div>
</div>
