<div class = "container">
  <div class = "row justify-content-center mb-3">
    <div class = "col-md-6 text-center">
      <h2>Features</h2>
      <p class = "lead">Introduction statement to the product features</p>
    </div>
  </div>
  <div class = "row justify-content-center">
    <div class = "col-md-4">
      <h3>Feature</h3>
      <p>Introduction statement for a specific feature.</p>
      <ul>
        <li>Key value proposition</li>
        <li>Key value proposition</li>
        <li>Key value proposition</li>
      </ul>
    </div>
    <div class = "col-md-4">
      <h3>Feature</h3>
      <p>Introduction statement for a specific feature.</p>
      <ul>
        <li>Key value proposition</li>
        <li>Key value proposition</li>
        <li>Key value proposition</li>
      </ul>
    </div>
    <div class = "col-md-4">
      <h3>Feature</h3>
      <p>Introduction statement for a specific feature.</p>
      <ul>
        <li>Key value proposition</li>
        <li>Key value proposition</li>
        <li>Key value proposition</li>
      </ul>
    </div>
  </div>
</div>
