<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-md-6 text-center mb-3">
      <h2>Special offer</h2>
      <p class = "lead">Summary of how users can get a special offer</p>
    </div>
  </div>
  <div class = "row justify-content-center align-items-center">
    <div class = "col-md-7">
      <img src = "http://fpoimg.com/720x480?text=Example&bg_color=ffffff" class = "img-fluid" alt ="example description">
    </div>
    <div class = "col-md-5">
      <h3>Offer name</h3>
      <p>Summary of the offer features</p>
      <ul>
        <li>Value propositon</li>
        <li>Value propositon</li>
        <li>Value propositon</li>
      </ul>
      <a class="btn btn-primary btn-lg" href="/#" role="button">Call to action</a>
    </div>
  </div>
</div>
