
iframe {
  width: 100% !important;
}

.small-icon {
  width: 60px;
  height: 60px;
  padding: 10px;
  margin: 0 auto;
}

.card {
  .price {
      font-weight: 800;
  }
}

.articles-list {
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
}
